*.pyc
*~
data
*.db
*.db-shm
*.db-wal
data_storage/
k8s/secrets/*.yaml
config.env
.env
frontend/.env
*.egg-info
debug-harness/config.json
deps/
.idea
*.idea
.ipynb_checkpoints
*.ipynb_checkpoints
TODO.md
