setuptools
fastapi
uvicorn
watchfiles
websockets
libaarhusxyz>=0.0.41
msgpack-numpy
projnames
PyJWT
python-multipart
sqlalchemy[asyncio]
aiosqlite
alembic
passlib
bcrypt<5.0.0
python-jose[cryptography]
fsspec
s3fs
minio
pydantic-settings
kubernetes-asyncio
kubernetes
click
python-dotenv
asyncpg
psycopg2-binary
aiosmtplib
fastapi-mcp
